# pandas Series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
def serieinfo(s):
    print('value :',s.values)
    print('value type :',type(s.values))
    print('index :',s.index)
    print('index type:',type(s.index))
    print('index+value:',s)

In [6]:
kakao=pd.Series([92600,92400,92100,94300,92300])
print(kakao)

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [7]:
print(kakao[0])
print(kakao[1])
print(kakao[2])

92600
92400
92100

In [12]:
# Seires 객체에 데이터가 저장되며, 저장된 데이터는 0부터 순서대로 인덱싱 된다.
# Seires 객체는 파이썬 리스트와 달리 인덱싱값을 저장 할 수 있다.

kakao2=pd.Series([92600,92400,92100,94300,92300],index=['2016-02-19',
                                                    '2016-02-18',
                                                    '2016-02-17',
                                                    '2016-02-16',
                                                    '2016-02-15'])
print(kakao2)
print('*'*30)
serieinfo(kakao2)
#Series 객체 내의 데이터는 1차원으로 저장돼 있지만 파이썬의 딕셔너리와 유사하게 값과
#이에 대응되는 인덱스 값이 서로 연결돼 있다.

2016-02-19    92600
2016-02-18    92400
2016-02-17    92100
2016-02-16    94300
2016-02-15    92300
dtype: int64
******************************
value : [92600 92400 92100 94300 92300]
value type : <class 'numpy.ndarray'>
index : Index(['2016-02-19', '2016-02-18', '2016-02-17', '2016-02-16', '2016-02-15'], dtype='object')
index type: <class 'pandas.core.indexes.base.Index'>
index+value: 2016-02-19    92600
2016-02-18    92400
2016-02-17    92100
2016-02-16    94300
2016-02-15    92300
dtype: int64

In [13]:
print(kakao2['2016-02-19'])

92600

In [14]:
for date in kakao2.index:
    print(date)
    
for ending_price in kakao2.values:
    print(ending_price)

2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15
92600
92400
92100
94300
92300

In [18]:
mine=pd.Series([10,20,30],index=['naver','sk','kt'])
print(mine)
print('*'*20)
friend=pd.Series([10,30,20],index=['kt','naver','sk'])
print(friend)

naver    10
sk       20
kt       30
dtype: int64
********************
kt       10
naver    30
sk       20
dtype: int64

In [19]:
merge=mine+friend
print(merge)

kt       40
naver    40
sk       40
dtype: int64

# Pandas DataFrame
- DataFrame은 여러개의 칼럼으로 구성된 2차원 형태의 자료 구조

In [20]:
from pandas import Series, DataFrame

In [21]:
raw_data={'col0':[1,2,3,4],
         'col1':[10,20,30,40],
         'col2':[100,200,300,400]}
data=DataFrame(raw_data)
print(data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [22]:
data['col0']

0    1
1    2
2    3
3    4
Name: col0, dtype: int64

In [23]:
data['col1']

0    10
1    20
2    30
3    40
Name: col1, dtype: int64

In [24]:
data['col2']

0    100
1    200
2    300
3    400
Name: col2, dtype: int64

In [25]:
type(data['col0'])

pandas.core.series.Series

In [26]:
daeshin={'open':[11650,11100,11200,11100,11000],
        'high':[12100,11800,11200,11100,11150],
        'low':[11600,11050,10900,10950,10900],
        'close':[11900,11600,11000,11100,11050]}
daeshin_day=DataFrame(daeshin)
print(daeshin_day)

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [27]:
daeshin_day=DataFrame(daeshin,columns=['open','high','low','close'])

In [28]:
daeshin_day

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [32]:
date=['16.02.29','16.02.26','16.02.25','16.02.24','16.02.23']
daeshin_day=DataFrame(daeshin,columns=['open','high','low','close'],index=date)

In [33]:
daeshin_day

           open   high    low  close
16.02.29  11650  12100  11600  11900
16.02.26  11100  11800  11050  11600
16.02.25  11200  11200  10900  11000
16.02.24  11100  11100  10950  11100
16.02.23  11000  11150  10900  11050

In [34]:
close=daeshin_day['close']

In [35]:
print(close)

16.02.29    11900
16.02.26    11600
16.02.25    11000
16.02.24    11100
16.02.23    11050
Name: close, dtype: int64

In [36]:
print(daeshin_day['16.02.24'])
# DataFrame 객체에는 '16.02.04'라는 키 값을 갖는 칼럼이 없으므로 에러 발생

KeyError: '16.02.24'

In [37]:
day_data=daeshin_day.loc['16.02.24']
print(day_data)
print(type(day_data))

open     11100
high     11100
low      10950
close    11100
Name: 16.02.24, dtype: int64
<class 'pandas.core.series.Series'>

In [38]:
print(daeshin_day.columns)
print(daeshin_day.index)

Index(['open', 'high', 'low', 'close'], dtype='object')
Index(['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23'], dtype='object')