<a href="https://colab.research.google.com/github/mgk0422/python-basic/blob/master/tl1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터 프레임 특정 값 추출

In [ ]:
# 판다스 라이브러리 임포트
import pandas as pd
# plotly express에 내장되어있는 gapminder 데이터프레임을 사용하겠습니다.
import plotly.express as px
# plotly가 설치되어있지 않다면 아래 명령으로 설치할 수 있습니다.
# !pip install plotly

In [ ]:
df = px.data.gapminder()

In [ ]:
df

#### 특정값과 일치하는 데이터 필터링

In [ ]:
# country 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
is_venezuela = df['country'] == 'Venezuela'

# 조건를 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다.
venezuela = df[is_venezuela]

# 결과를 출력합니다.
venezuela

#### 두가지 조건을 만족하는 데이터 필터링하기

In [ ]:
# continent 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
is_asia = df['continent'] == 'Asia'

# lifeExp 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
lifeExp_greather_80 = df['lifeExp'] >= 80

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
subset_df = df[is_asia & lifeExp_greather_80]

# 결과를 출력합니다.
subset_df

#### 특정 문자열을 포함하는 데이터 필터링하기

In [ ]:
# country 컬럼을 선택합니다.
# 컬럼의 값에 Korea 또는(|) Japan이라는 문자열이 포함되어있는지 판단합니다.
# 그 결과를 새로운 변수에 할당합니다.
contains_korea_or_japan = df['country'].str.contains("Japan|Korea")

# 조건를 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다.
subset_df = df[contains_korea_or_japan]

# 결과를 출력합니다.
print(subset_df.shape)
print()

subset_df

## 함수

In [ ]:
def order():                             # ❶ 헤더 행
    print('주문하실 음료를 알려주세요')  # ❷ 본문 코드 블록
    drink = input()
    print(drink, '주문하셨습니다.')

order()                                  # ❸ 함수를 호출해야 실행된다

In [ ]:
def number():                             # ❶ 헤더 행
    print('숫자를 입력하세요')  # ❷ 본문 코드 블록
    num = int(input())
    print(num,'의 절대값',abs(num))

number()                                  # ❸ 함수를 호출해야 실행된다

In [ ]:
# 함수를 사용하는 이유, 똑같은 내용을 반복해서 쓰지않을려고.

In [ ]:
def add(a,b):
    return a+b

In [ ]:
add(3,4)

In [ ]:
def add_many(*args):
    resutl=0
    for i in args:
        result=result+i
    return result

## CLASS

In [ ]:
class Calculator:
    def __init__(self):
        self.result=.0
    def add(self,num):
        self.result+=num
        return self.result

cal1=Calculator() #객체
cal2=Calculator()

print(int(cal1.add(3)))
print(int(cal1.add(4)))
print(int(cal2.add(3)))
print(int(cal2.add(7)))

In [ ]:
class Cookie:
    pass

a=Cookie() #Cookie()의 결괏값을 돌려받는 a와 b를 객체라고 한다.
b=Cookie() 
# 객체와 인스턴스의 차이
# 클래스로 만든 객체를 인스턴스라고한다.
# a=Cookie() 이렇게 만든 a는 객체이다.
# a객체는 Cookie의 인스턴스이다.

In [ ]:
class FourCal:
    def __init__(self,first,second): #파이썬 메서드 이름으로 __init__를 사용하면 이 메서드는 생성자가 된다.
        self.first = first
        self.second = second    
    def setdata(self,first,second): 
        self.first=first
        self.second=second
    def add(self):
        result=self.first+self.second
        return result
    def sub(self):
        result=self.first-self.second
        return result
    def mul(self):
        result=self.first*self.second
        return result
    def div(self):
        result=self.first/self.second
        return result

In [ ]:
a=FourCal()
b=FourCal()
type(a)

In [ ]:
a.setdata(2,3)

In [ ]:
print(a.first)
print(a.second)

In [ ]:
print(a.add())
print(a.sub())
print(a.mul())
print(a.div())

In [ ]:
b.setdata(100,2)
print(b.add())
print(b.sub())
print(b.mul())
print(b.div())

In [ ]:
# 클래스의 상속 : 물려받다라는 뜻
class MoreFourCal(FourCal):
    pass

a=MoreFourCal(4,2)
a.add()

In [ ]:
# 보통 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나 기존 기능을 변경하려고 할때 사용한다.
# 기존 클래스가 라이브러리 형태로 제공되거나 수정이 허용되지 않는 상황이라면 상속을 사용해야한다.

In [ ]:
# 클래스의 상속 : 물려받다라는 뜻
class MoreFourCal(FourCal):
    def pow(self):
        result=self.first**self.second
        return result

In [ ]:
a=MoreFourCal(4,5)
a.pow()

In [ ]:
# 매서드 오버라이딩
# a=FourCal(4,0)
# a.div() #오류가 에러가 아닌 0을 돌려주고싶다면?

In [ ]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second==0:
            return 0
        else:
            return self.first/self.second

In [ ]:
a=SafeFourCal(4,0)
a.div()

In [ ]:
# 모듈
def add(a,b):
    return a+b
def sub(a,b):
    return a-b

In [ ]:
import pandas as pd
import numpy as np

titanic=pd.read_excel('/content/sample_data/titanic_train.xlsx')
titanic.head()

## 데이터세트 생성과 수정

In [ ]:
titanic['Age_by_10']=titanic['Age']+10

In [ ]:
titanic

## 데이터 삭제

In [ ]:
# 행삭제
titanic=titanic.drop('Age_by_10',axis=1)
titanic

In [ ]:
# 열삭제
titanic.drop([0,1,2],axis=0,inplace=True)
titanic.head()

In [ ]:
titanic[titanic['Pclass']==3]

## DataFrame iloc[] 연산자

In [ ]:
data={'Name':['Chulmin','EunKyung','Jinwoong','Soobeom'],
      'Year':[2011,2016,2015,2015],
      'Gender':['Male','Female','Male','Male']
      }
data=pd.DataFrame(data,index=['one','two','three','four'])
data

In [ ]:
data=data.reset_index()

In [ ]:
#data=data.set_index()
data

In [ ]:
data.iloc[0,0] #iloc[]는 슬라이싱과 팬시 인덱싱은 제공하나 명호가한 위치 기반 인덱싱이 사용되어야 하는 제약으로 인해 불린 인덱싱은 제공 X

## DataFrame loc[] 연산자

In [ ]:
# loc[]는 명칭 기반으로 데이터 추출
print(data.loc[1:2,'index'])

In [ ]:
titanic.head()

In [ ]:
titanic.loc[(titanic['Age']>=60) &(titanic['Pclass']==1)][['Pclass','Sex','Age']]

In [ ]:
titanic_sorted=titanic.sort_values(by=['Name'])
titanic_sorted.head()

In [ ]:
titanic_sorted=titanic.sort_values(by=['Pclass','Name'],ascending=False)
titanic_sorted.head(3)

In [ ]:
titanic[['Age','Survived']].mean()

In [ ]:
titanic_groupby=titanic.groupby(by='Pclass')
titanic_groupby

In [ ]:
titanic_groupby=titanic.groupby(by='Pclass').count()
titanic_groupby

In [ ]:
titanic.groupby('Pclass')['Age'].agg([max,min])

In [ ]:
titanic.isna().sum()

In [ ]:
titanic['Cabin']=titanic['Cabin'].fillna('C000')
titanic.head()

In [ ]:
titanic['Age']=titanic['Age'].fillna(titanic['Age'].mean)

In [ ]:
titanic['Embarked']=titanic['Embarked'].fillna('S')

In [ ]:
titanic.isna().sum()

## apply lambda 식으로 데이터 가공

In [ ]:
titanic['Child_Adult']=titanic['Age'].apply(lambda intx: 'Child' if x <=15 else ('Adult' if x<=60 else 'Elderly'))
titanic['Age','Child_Adult'].head()